# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Specific
data/*.db
data/*.db-journal
*.db
*.db-journal
.pytest_cache/
.mypy_cache/
